@counterSize: 5rem; //rem

.counter {
    width: @counterSize;
    height: @counterSize/3;

    position: relative;

    border-radius: 3px;
    border:  1px solid lighten(black, 75%);
}


.counter-display {
    width: 100/3%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 100/3%;
    box-sizing: border-box;

    background-color: white;
}

.counter-input {
    width: 100%;
    height: 100%;

    position: relative;
    box-sizing: border-box;
    
    border: 0;
    border-right: 1px solid lighten(black, 75%);
    border-left: 1px solid lighten(black, 75%);
    background-color: transparent;

    text-align: center;
    font-size: @counterSize/5;
    color: lighten(#424242,0%);
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:focus {
        border: 1px solid #4CAF50;
        outline: 0;
    }
}

.counter-button {
    width: 50%;
    height: 100%;
    display: block;

    float: left; 
    box-sizing: border-box;

    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: white;

    text-align: center;
    font-family: serif;
    font-size: @counterSize/3;
    font-weight: bold;
    padding-bottom: 0%;
    line-height: 90%;
    overflow: hidden;
    color: #1A1E22;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover {
        background-color: lighten(black, 98%);   
    }

    &:focus{
        outline: 0;   
    }

    &:after {
        content: "";
        height: 10%;
    }
}

.counter-button--decrement {
    padding-right: 110/6%;
    padding-bottom: 25%;
    line-height: 75%;
}

.counter-button--increment {
    padding-left: 110/6%;

}

.counter-button[disabled=disabled] {
    color: lighten(#1A1E22, 50%);
    cursor: not-allowed;
}